/* Simple Dracula theme based on: */
/* https://github.com/Cyan903/Firefox-theme */
/* System theme must be following the dracula color scheme */

.tab-icon-sound-label {
    display: none !important;
}

/* Colors */
#nav-bar,
#PersonalToolbar,
#urlbar-search-mode-indicator,
#identity-box *,
.tab-background,
.urlbarView * {
    background-color: #1e2029 !important;
}

#urlbar-background,
.tabbrowser-tab[selected="true"] .tab-background {
    background-color: #282a36 !important;
}

/* URL bar */
#urlbar-background {
    border: 1px solid #1e2029 !important;
    outline: none !important;
}

#urlbar:focus-within {
    outline: 1px solid #bd93f9;
}

/* Tabs */
.tabbrowser-tab .tab-background {
    border: 1px solid #282a36 !important;
    border-radius: 2px !important;
}

.tabbrowser-tab .tab-text {
    opacity: 0.6 !important;
}

.tabbrowser-tab[selected="true"] .tab-text {
    opacity: 1 !important;
}

#tabs-newtab-button .toolbarbutton-icon,
#tabs-newtab-button:hover .toolbarbutton-icon {
    background-color: inherit;
    transform: scale(0.8);
    opacity: 0.8;
}

#tabs-newtab-button:hover .toolbarbutton-icon {
    background-color: #282a36 !important;
    opacity: 1;
}

.tabbrowser-tab:first-child {
    margin-left: 10px !important;
}

.tab-content {
    padding: 0 15px !important;
    font-size: 0.8em;
}
